    <footer class="footer">
        <div class="footer__grid">
            <section class="footer__brand">
                <img class="footer__logo" src="/src/graphics/png/footer-logo.png" alt="Footer Logo Image" max-width="280px" height="110px">
                <p class="footer__logo-caption" data-i18n="footer-underlogo-text">Премиальные цифровые решения для индивидуальных клиентов и требовательных предпринимателей, стремяшихся к совершенству в сфере корпоративных услуг</p>
            </section>
            <nav class="footer__services">
                <p class="footer__title" data-i18n="footer-service-tite">Услуги</p>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="/pages/services/llc-ie-registration/index.html" class="footer__list-link" data-i18n="footer-service-iellc">Регистрация ООО или ИП</a></li>
                    <li class="footer__list-item"><a href="/pages/services/ready-made-companies/index.html" class="footer__list-link" data-i18n="footer-service-readycompany">Готовые компании</a></li>
                    <li class="footer__list-item"><a href="/pages/services/residence-permit/index.html" class="footer__list-link" data-i18n="footer-service-residence">ВНЖ</a></li>
                    <li class="footer__list-item"><a href="/pages/services/citizenship/index.html" class="footer__list-link" data-i18n="footer-service-citizenship">Гражданство</a></li>
                    <li class="footer__list-item"><a href="/pages/services/registration/index.html" class="footer__list-link" data-i18n="footer-service-registration">Прописка</a></li>
                    <li class="footer__list-item"><a href="/pages/services/accounting/index.html" class="footer__list-link" data-i18n="footer-service-accounting">Бухгалтерские услуги</a></li>
                    <li class="footer__list-item"><a href="/pages/services/bank-card/index.html" class="footer__list-link" data-i18n="footer-service-bankcard">Банковская карта для физ.лиц</a></li>
                    <li class="footer__list-item"><a href="/pages/services/social-card/index.html" class="footer__list-link" data-i18n="footer-service-socialcard">Социальная карта</a></li>
                    <li class="footer__list-item"><a href="/pages/services/logistics/index.html" class="footer__list-link" data-i18n="footer-service-logistics">Логистика и Таможня</a></li>
                </ul>
            </nav>
            <address class="footer__contacts">
                <p class="footer__title" data-i18n="footer-contacts-title">Контакты</p>
                <ul class="footer__list footer__list--contacts">
                    <li class="footer__list-item footer__list-item--address"><a class="footer__list-link" href="https://yandex.com/profile/-/CHhabX0W" data-i18n="footer-contacts-address1">Армения, Ереван, Арабкир, Вагарша Вагаршяна 12/1</a></li>
                    <li class="footer__list-item footer__list-item--address"><a class="footer__list-link" href="https://yandex.com/maps/-/CHhafJ~T" data-i18n="footer-contacts-address2">Россия, Москва, Сибирский проезд 2с2</a></li>
                    <li class="footer__list-item footer__list-item--mail"><a class="footer__list-link" href="mailto:co@armbizconsulting.com">co@armbizconsulting.com</a></li>
                    <li class="footer__list-item footer__list-item--mail"><a class="footer__list-link" href="mailto:armbiz@armbiz.ru">armbiz@armbiz.ru</a></li>
                    <li class="footer__list-item footer__list-item--phone"><a class="footer__list-link" href="tel:+37444470702" >+ (374) 44 470702</a></li>
                    <li class="footer__list-item footer__list-item--phone"><a class="footer__list-link" href="tel:+79645377228" >+7 (964) 537 7228</a></li>
                </ul>
                <div class="footer__messengers">
                    <a class="footer__messenger-link" href="https://t.me/armbiz_consulting" ><img src="/src/graphics/svg/telegram-icon.svg" alt="footer-messengers"></a>
                    <a class="footer__messenger-link" href="https://api.whatsapp.com/send/?app_absent=0&phone=79645377228&text=Здраствуйте%21&type=phone_number" ><img src="/src/graphics/svg/whatsapp-icon.svg" alt="footer-messengers"></a>
                    <a class="footer__messenger-link" href="https://www.instagram.com/armbizconsulting_/?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=ig_web_button_share_sheet" ><img src="/src/graphics/svg/instagram-icon.svg" alt="footer-messengers"></a>
                </div>
            </address>
            
        </div>
        <div class="footer__divider"></div>
        <div class="footer__afterline">
                <p class="footer__copyright" data-i18n="footer-rights">© 2026 Armbiz Consulting. Все права защищены</p>        
                <a href="/pages/privacy-policy/privacy-policy.pdf" target="_blank" rel="nooperner noreferrer" class="footer__policy" data-i18n="footer-privacy-policy">Политика конфиденциальности</a>
        </div>
    </footer>