    <header class="header">
        <a class="header__logo" href="/index.html">
            <img src="/src/graphics/svg/logo-v2.svg" alt="logosvgs">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item-services">
                    <a href="#" class="header__nav-link" data-i18n="header-services">Услуги</a>
                    <ul class="header__nav-list-services mouse-selectable">
                        <li class="mouse-selectable"><a href="/pages/services/llc-ie-registration/index.html" data-i18n="header-service-llc-ie">Регистрация ООО и ИП</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/ready-made-companies/index.html" data-i18n="header-service-ready-made-companies">Готовые компании</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/citizenship/index.html" data-i18n="header-service-citizenship">Гражданство</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/residence-permit/index.html" data-i18n="header-service-residence-permit">ВНЖ</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/registration/index.html" data-i18n="header-service-registration">Прописка</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/accounting/index.html" data-i18n="header-service-accounting">Бухгалтерские услуги</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/bank-card/index.html" data-i18n="header-service-bank-card">Банковская карта для физ. лиц</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/social-card/index.html" data-i18n="header-service-social-card">Социальная карта</a></li>
                        <li class="mouse-selectable"><a href="/pages/services/logistics/index.html" data-i18n="header-service-logistic">Логистика и Таможня</a></li>
                    </ul>
                </li>
                <li class="header__nav-item">
                    <a href="/pages/contacts/index.html" class="header__nav-link" data-i18n="header-contacts">Контакты</a>
                </li>
                <li class="header__nav-item">
                    <a href="/pages/about-us/index.html" class="header__nav-link"data-i18n="header-aboutus">О нас</a>
                </li>
                <li class="header__nav-item">
                    <a href="/pages/services/logistics/index.html" class="header__nav-link" data-i18n="header-logistics">Логистика и таможня</a>
                </li>
            </ul>
        </nav>
        <div class="header__lang mouse-selectable">
            <img id="header-lang-icon"  src="/src/graphics/png/header-lang-ru.png" alt="lang-icon">
            <div class="header__lang-switcher">
                <button class="header__lang-switcher-item header__lang-switcher-item--selected" data-lang="ru">
                    <img class="header__lang-switcher-icon" src="/src/graphics/png/header-lang-ru.png" alt="lang-switcher-item-rus">
                    <p class="header__lang-switcher-text">Русский</p>
                </button>
                <button class="header__lang-switcher-item" data-lang="en">
                    <img class="header__lang-switcher-icon" src="/src/graphics/png/header-lang-en.png" alt="lang-switcher-item-en">
                    <p class="header__lang-switcher-text">English</p>
                </button>
            </div>
        </div>
    </header>