        <section id="reviews" class="reviews">
            <h2 class="reviews__title" data-i18n="reviews-title">О нашем подходе к работе и результатах лучше всего <span class="special-text">расскажут наши клиенты</span></h2>
            <p class="reviews__text" data-i18n="reviews-subtitle">Все отзывы оставлены реальными клиентами. Одни брали у нас услуги удаленно, другие приходили в офис, и мы работали с ними на месте. С некоторыми из них мы все еще продолжаем работу по другим услугам. <br>Убедиться в правдивости отзывов вы можете <a href="https://yandex.com/maps/-/CPeEIZLA" target="_blank"><span class="special-text">здесь</span></a>. Там вы сможете найти и другие отзывы о качестве нашей работы.</p>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-1.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review1-name">Роман К.</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review1-date"><span class="special-text">Отзыв от:</span> 03.11.2025</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review1-text">Помогли в работе с банком, проконсультировали по всем нуждам, легкая коммуникация, было легко договориться по всем возникшим вопросам, полная поддержка во время всего процесса, спасибо за помощь.</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-2.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review2-name">Vladimir Rt.</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review2-date"><span class="special-text">Отзыв от:</span> 22.01.2025</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review2-text">Быстро, качественно, профессионально. Можно доверять и работать с этой компанией. Отзывы полностью оправданы.</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-3.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review3-name">Мария К.</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review3-date"><span class="special-text">Отзыв от:</span> 13.02.2026</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review3-text">Очень приятные и отзывчивые сотрудники! помогли со всеми вопросами, даже которые не входили в услуги. очень вежливые и приятные в общении, сделали все быстро и качественно, впечатления исключительно положительные!</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-4.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review4-name">Евгений Уточкин</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review4-date"><span class="special-text">Отзыв от:</span> 17.10.2025</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review4-text">Отличный сервис, профессионалы своего дела и просто хорошие люди, с которыми приятно работать. Все требуемые задачи выполнили на 10 баллов, крайне рекомендую.</p>
                        </article>
                    </div>
                    <div class="swiper-slide ">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-5.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review5-name">Юлия Дементьева</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review5-date"><span class="special-text">Отзыв от:</span> 19.11.2024</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review5-text">Опыт взаимодействия с данной компанией ПОЛОЖИТЕЛЬНЫЙ! Быстро, оперативно, подробно! Детализация информации 100%. Отзывчивость специалистов 100%. Профессионализм специалистов на высоком уровне. Во время взаимодействия всегда было личное сопровождение (для меня это важно было👆) и всегда на связи в течение всего процесса. Полное доверие и взаимопонимание по всем вопросам, а также все вопросы были решены в нужные сроки и с отличным результатом!!!!РЕКОМЕНДУЮ.</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-6.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review6-name">Тагир Нурхаметов</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review6-date"><span class="special-text">Отзыв от:</span> 25.07.2025</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review6-text">Спасибо. Помогли открыть ИП и банковский счёт. Приятно иметь с ними дело. Также помогли разобраться с банковскими тарифами.</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-7.png" alt="swiper name image" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review7-name">Maxim M.</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review7-date"><span class="special-text">Отзыв от:</span> 08.10.2024</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review7-text">Хочу поделиться своим положительным опытом работы с консалтинговой компанией Армбиз Консалтинг. Обратился к ним с вопросом, требующим быстрой и качественной консультации. Приятно удивил уровень оперативности — специалисты компании очень быстро откликнулись, в кратчайшие сроки предоставили полную консультацию по всем вопросам, с которыми я обратился.
                            Особенно хочу отметить, что консультация была очень подробной, ясной и структурированной.</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="swiper-slide__card">
                            <img src="/src/graphics/png/review-8.png" alt="У" class="swiper-slide__card-image">
                            <header>  
                                <h3 class="swiper-slide__card-name" data-i18n="review8-name">Елена</h3>
                                <span class="swiper-slide__card-stars"></span>
                                <h5 class="swiper-slide__card-date" data-i18n="review8-date"><span class="special-text">Отзыв от:</span> 15.09.2025</h5>
                            </header>
                            <p class="swiper-slide__card-text" data-i18n="review8-text">Очень понравилось дружелюбие, ответственность и профессионализм. Сотрудничество оказалось не только производительным - всё очень быстро и без сбоев, но и по-настоящему вдохновляющим. Надеюсь, что наше сотрудничество продолжится и в будущем!</p>
                        </article>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev mouse-selectable"></div>
                <div class="swiper-button-next mouse-selectable"></div>

                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>

        </section>
