@use "./vars";

.btn {
    display:inline-flex;
    line-height: 1.2;
    padding: 1.5rem 3.5rem;
    margin: 0.5rem;
    border-radius: 0.7em;
    border: none;
    background: none;
    font-size: 1.8rem;

    &--primary{
        transition:ease-in-out vars.$normalAnimation;
        background-color: vars.$primaryColor;
        color: vars.$white;
        font-family: vars.$mainFontSemibold;
        justify-content: center;
        &:hover{
            background-color: vars.$primaryBtnHover;
            box-shadow: 0 0 14px vars.$primaryTransparentColor;
        }
        &:active {
            transition: vars.$fastestAnimation;
            background-color: vars.$white;
            color: vars.$primaryColor;
            box-shadow: inset 0 0 4px rgba(119, 156, 211, 0.3);
        }
    }
    &--secondary{
        transition:ease-in-out vars.$normalAnimation;
        border: 1px solid vars.$borderColor;
        color: vars.$darkColor;
        font-family: vars.$mainFontSemibold;
        &:hover{
            color: vars.$primaryColor;
            box-shadow: 0 0 14px vars.$primaryTransparentColor;
        }
        &:active {
            transition: vars.$fastestAnimation;
            background-color: vars.$primaryColor;
            color: vars.$white;
            border: 1px solid vars.$primaryColor;
        }
    }
    &--white{
        color: #fff;
        background-color: #ffffff1e;
        &:hover{
            background-color: #fff;
        }
    }
}