#cursor, #aura {
    position: absolute;
    border-radius: 100%;    
    user-select: none;
    pointer-events: none;
    
    z-index:9999;
    translate: -50% -50%;
}

#aura {
    width: 38px;
    height: 38px;
    border: 1px solid #1a6eff48;
    background-color: #1a6eff18;
    transition: .22s cubic-bezier(.73,-1.07,.15,1.88) transform, .2s cubic-bezier(.73,-1.07,.15,1.88) opacity;
}
#aura.hovered {
    transform: scale(1.5);
    border: 1px solid #1A6EFF96;
}

#cursor {
    width: 10px;
    height: 10px;
    background-color: #1a6eff7e;
    transition: .5s cubic-bezier(.73,-1.07,.15,1.88) transform, .2s cubic-bezier(.73,-1.07,.15,1.88) opacity;
}
#cursor.hidden {
    opacity: 0;
}