@use "../base/vars";

#cursor, #aura {
    position: fixed;
    border-radius: 100%;    
    user-select: none;
    pointer-events: none;
    
    z-index:9999;
    translate: -50% -50%;
}

#aura {
    width: 32px;
    height: 32px;
    border: 1px solid #1a6eff48;
    background-color: #1a6eff18;
    transition: .22s cubic-bezier(.73,-1.07,.15,1.88) transform, .2s cubic-bezier(.73,-1.07,.15,1.88) opacity;
}
#aura.hovered {
    transform: scale(1.5);
    border: 1px solid #1A6EFF96;
    
    // Пара идей для наведения

    // backdrop-filter: invert(1);

    // backdrop-filter: blur(1px);

    // background: conic-gradient(
    //     from 0deg, 
    //     rgba(255,0,150,0.1), 
    //     rgba(0,255,255,0.1), 
    //     rgba(255,255,0,0.1), 
    //     rgba(255,0,150,0.1)
    // );
    // backdrop-filter: hue-rotate(45deg) saturate(1.3);

    background: 
        radial-gradient(circle at 30% 30%, rgba(255, 51, 0, 0.1) 0%, transparent 50%),
        radial-gradient(circle at 70% 70%, rgba(4, 0, 255, 0.1) 0%, transparent 50%);
    backdrop-filter: contrast(1.2) brightness(1.1);

    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 
        0 0 20px rgba(26,110,255,0.3),
        inset 0 0 20px rgba(255,255,255,0.1);
}



#cursor {
    width: 7px;
    height: 7px;
    background-color: #1a6eff7e;
    transition: .5s cubic-bezier(.73,-1.07,.15,1.88) transform, .2s cubic-bezier(.73,-1.07,.15,1.88) opacity;
    box-shadow: 
        0 0 10px vars.$secondaryColor,
        0 0 20px vars.$secondaryColor,
        0 0 30px vars.$secondaryColor,
        0 0 40px vars.$secondaryColor;
    background-color: #1a6eff;
}
#cursor.hidden {
    opacity: 0;
}

#aura.clicked {
    transition: 0.1s;
    transform: scale(1.3);
    opacity: 0.7;
}