@use "./vars";
@use "./mixins" as m;

@font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: vars.$mainFontWeightRegular;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: vars.$mainFontWeightMedium;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: vars.$mainFontWeightSemibold;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: vars.$mainFontWeightBold;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: vars.$mainFontWeightRegular;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: vars.$mainFontWeightLight;
    font-display: swap;
}

h1, h2, h3, h4, h5, p, a, button, ul, ol {
font-family: vars.$mainFontRegular;
}

h1 {
    font-size: vars.$h1Size;
}
h2 {
    font-size: vars.$h2Size;
}
h3 {
    font-size: vars.$h3Size;
}
h4 {
    font-size: vars.$h4Size;
}
h5 {
    font-size: vars.$h5Size;
}
p, a, button, ol, ul {
    font-size: vars.$pSize;
}

@include m.mobile{
    p,a,button,ol,ul{
        font-size: vars.$pSize * 0.9;
    }
    h3{
        font-size: vars.$h3Size * 0.75;
    }
    h2{
        font-size: vars.$h2Size * 0.50;
    }
    h5{
        font-size: vars.$h5Size * 0.8;
    }

}

strong, .special-text, .bold-text {
    font-family: vars.$mainFontFamily;
    font-weight: vars.$mainFontWeightBold;
    font-size: 1em;
}

.medium-text {
    font-family: vars.$mainFontFamily;
    font-weight: vars.$mainFontWeightMedium;
    font-size: 1em;
}
.semibold-text {
    font-family: vars.$mainFontFamily;
    font-weight: vars.$mainFontWeightSemibold;
    font-size: 1em;
}

.special-text {
    color: vars.$primaryColor;
}
.special-text_inverted {
    color: vars.$primaryInvertedColor;
}

.underlined-text {
    text-decoration: underline;
    font-size: 1em;
}
.uppercased-text {
    text-transform: uppercase;
    font-size: 1em;
}

.italic-text{
    font-family: vars.$mainFontFamily;
    font-style: italic;
    font-weight: vars.$mainFontWeightRegular;
    font-size: 1em;
}

.bold-text{
    font-family: vars.$mainFontFamily;
    font-weight: vars.$mainFontWeightBold;
    font-size: 1em;
}
