@use "./vars";

// @font-face {
//     font-family: "Raleway-Regular";
//     font-weight: 400;
//     src: 
//     // url("/src/fonts/FONT_NAME.woff2") format(woff2),
//     // url("/src/fonts/FONT_NAME.woff") format(woff),
//     url("/src/fonts/Raleway-Regular.ttf")
// }

@font-face {
font-family: "Raleway-Regular";
src: url(/src/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(/src/fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-Semibold";
    src: url(/src/fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(/src/fonts/Raleway-Bold.ttf);
}

h1, h2, h3, h4, p, a, button {
font-family: vars.$mainFontRegular;
}

h1 {
    font-size: vars.$h1Size;
}
h2 {
    font-size: vars.$h2Size;
}
h3 {
    font-size: vars.$h3Size;
}
h4 {
    font-size: vars.$h4Size;
}
p, a, button {
    font-size: vars.$pSize;
}

strong, .special-text, .bold-text {
    font-family: vars.$mainFontBold;
    font-size: 1em;
}
.medium-text {
    font-family: vars.$mainFontMedium;
    font-size: 1em;
}
.semibold-text {
    font-family: vars.$mainFontSemibold;
    font-size: 1em;
}
.special-text {
    color: vars.$primaryColor;
}
