@use "./vars";

// Adaptive base

@mixin mobile{
    @media (max-width: vars.$mobile) {
        @content;
    }
}

@mixin tablet{
    @media (max-width: vars.$tablet) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: vars.$tablet) {
        @content;
    }
}

@mixin createSquare($w, $h, $br){
    width: $w;
    height: $h;
    background: linear-gradient(
        320deg,
        vars.$primaryColor,
        vars.$secondaryColor
    );
    border-radius: $br;
}