@use "./vars";


.scheme{
    position: relative;
    counter-reset: item 0;

    &-container{
        max-width: 45%;
        &--horizontal {
            width: 100%;
            & > .scheme-container__title{
                margin: 4rem 0 8rem;
            }
        }
        &__title{
            text-align: center;
            font-family: vars.$mainFontSemibold;
            margin-bottom: 5rem;
        }
        &__text{
            margin: 3.4rem 0;
        }
    }
    &__item{
        counter-increment: item;

        position: relative;
        margin-left: 9rem;
        
        border: 1px solid vars.$borderColor;
        border-radius: 1.5em;
        padding: 2rem;
        margin-bottom: 2.5rem;
        &-title{
            font-family: vars.$mainFontSemibold;
            &::before{
                position: absolute;
                content: url(/src/graphics/svg/scheme-point.svg);
                width: 50px;
                left: 0;
                translate:-84% 0;
            }
        }
        &-text{
            font-family: vars.$mainFontMedium;
            margin-top: 1.5rem;
        }

        &::before{
            background-color: vars.$primaryColor;
            font-size: vars.$h4Size;
            font-family: vars.$mainFontSemibold;
            content: counter(item);
            translate: -170% -30%;
            color: #fff;
            padding: 1.5rem 2.1rem;
            border-radius: 100%;
            position: absolute;
            left: 0;
        }

        &--special{
            background-color: vars.$darkColor;
            color: #fff;
        }
    }
    &__line{
        position: absolute;
        width: 3px;
        height: 95%;
        background-color: vars.$primaryColor;
        left: 24px;
        translate: 0 10px;
    }

    &--horizontal{
        display: flex;
        justify-content: space-between;
        & > li{
            position: relative;
            background-color: vars.$lightColor;
            margin: 1rem;
            padding: 1rem;
            // max-width: 40%;
            &::before {
                z-index: 2;
                position: absolute;
                left: 50%;
                translate: -50% -80px;
            }
            & > p{
                font-size: 14px;
                vertical-align: middle;
                text-align: center;
                &::before{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    rotate: 90deg;
                    translate: -50% -25px;
                }
            }
        }
        & > .scheme__line{
            height: 3px;
            width: 75%;
            translate: 0 0;
            &--position1{
                translate: 11% -30px;
            }
            &--position2{
                translate: 12% -30px;
            }
            &--position3{
                translate: 22% -30px;
                width: 65%;
            }
            &--position4{
                translate: 16% -30px;
                width: 70%;
            }
        }
    }
    &--bank{
        // outline: 1px dashed salmon;
        & > .scheme__line{
            height: 90%;
        }
        & > .scheme__item{
            & > .scheme__item-title{
                font-size: 2rem;
            }
            & > .scheme__item-text{
                font-family: vars.$mainFontRegular;
                color: vars.$greyColor
            }
        }
    }
}