// Colors
$primaryColor: #1a6eff;
$primaryTransparentColor: #5291ff79;
$secondaryColor: #60a2ff;
$lightColor: #e7effe;
$borderColor: #d7deef;
$greyColor: #434c5b;
$darkColor: #1e2736;

$black: #000;
$white: #fff;

$primaryBtnHover: #0050d9;

// Sizes
$h1Size:8.1rem;
$h2Size:5.4rem;
$h3Size:3.6rem;
$h4Size:2.4rem;
$pSize:1.6rem;

// Screens
$mobile: "min-width: 375px"; 
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";

// Animation speed
$fastestAnimation: 0.012s;
$fastAnimation: 0.13s;
$normalAnimation: 0.24s;
$slowAnimation: 0.33s;

// Font

$mainFontRegular:"Raleway-Regular";
$mainFontMedium:"Raleway-Medium";
$mainFontSemibold:"Raleway-Semibold";
$mainFontBold:"Raleway-Bold";