@use './base';
@use "./components";
@use "./base/vars";

.uikit-block {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
.color-block {
    position: relative;
    padding: 1rem 2rem;
    max-width: 50%;
    font-family: vars.$mainFontRegular;
    font-size: vars.$h4Size;
    &_primary-color{
        background-color: vars.$primaryColor;
        color: vars.$white;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#1a6eff";
        }
    }
    &_secondary-color{
        background-color: vars.$secondaryColor;
        color: vars.$white;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#60a2ff";
        }
    }
    &_light-color{
        background-color: vars.$lightColor;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#e7effe";
        }
    }
    &_borders-color{
        background-color: vars.$borderColor;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#d7deef";
        }
    }
    &_dark-color{
        background-color: vars.$darkColor;
        color: vars.$white;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#1e2736";
        }
    }
    &_grey-color{
        background-color: vars.$greyColor;
        color: vars.$white;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#434c5b";
        }
    }
    &_lightgrey-color{
        background-color: vars.$lightGreyColor;
        color: vars.$white;
        &::after{
            position: absolute;
            right: 1rem;
            font-family: vars.$mainFontBold;
            text-transform: uppercase;
            content: "#646d83";
        }
    }
}

.divider {
    height: 20px;
}

// main {
//     background-color: vars.$lightColor;
// }

.wrapper {
    outline: 1px solid red;
    margin: 0 auto;
    max-width: 1280px;
    &--wided{
        max-width:1800px;
    }
}

.badge {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 1.3rem 3rem;
    background-color: vars.$lightColor;
    border-radius: 3em;
    font-size: vars.$badgeFontSize;
    font-family: vars.$mainFontBold;
    color: vars.$primaryColor;
    text-transform: uppercase;
}

// Exclusive Offer Badge
.exclusive-offer{
    display: grid;
    position: relative;
    padding-block: 15rem;
    gap: 9rem;
    &__header{
        position: relative;
    }
    &__title{
        text-align: center;
    }
    &__badge{
        @extend .badge;
        top: 0;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        &::before {
            vertical-align: middle;
            content: url(/src/graphics/png/exclusive-badge-before.png);
            margin-right: 1rem;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "main tax transfer"
            "main months reports"
            "main cta cta";
        gap:2.4rem;
        column-gap: 4rem;
    }
}
#main {grid-area: main; min-width: 600px;}
#tax {grid-area: tax;}
#transfer {grid-area: transfer;}
#months {grid-area: months;}
#reports {grid-area: reports;}
#cta {grid-area: cta;}


// Services
.services {
    display: flex;
    flex-direction: column;
    padding-block: 10rem;
    gap: 3rem;
    
    &__title, &__subtitle {text-align: center}
    &__subtitle {
        color: vars.$greyColor;
    }
    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__badge{
        @extend .badge;
    }

    &__grid{
        --min: 800px;
        display: grid;
        gap: 2.5rem 3rem;
        grid-template-columns:  repeat(auto-fit, minmax(var(--min), 1fr));
        align-items: stretch;
    }
}

// Logistic
.logistic {
    display: grid;
    padding-block: 10rem;
    gap: 4rem;
    &__header{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__title, &__lead{
        text-align: center
    }
    &__kpi{
        display: flex;
        justify-content: center;
        &-item{
            margin: 0 1rem;
            // outline: 1px solid vars.$borderColor;
        }
        &-icon{
            display: block;
            margin: 0 auto;
        }
        &-score, &-caption {
            text-align: center;
        }
        &-caption{
            margin-top: 0.2rem;
            font-family: vars.$mainFontMedium;
            font-size: vars.$smallFontSize;
            color: vars.$greyColor;
        }
    }
    
    &__cards{
        display: grid;
        grid-template-columns: 0.8fr 1fr;
    }

    &__badge{
        @extend .badge;
    }
}

// Contact
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 10rem;
    &__badge{
        @extend .badge;
        top: 0;
        left: 0;
        translate: 50% 120%;
    }
    &__details {
        position: relative;
        max-width: 600px;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap:3rem;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5rem;
        & > ul {
            margin-bottom: 2.5rem;
            & > p {
                margin-bottom: 1rem;
            }
        }
    }
    &__subtitle{
        font-family: vars.$mainFontSemibold;
    }
    &__text{
        color: vars.$darkColor;
    }

    &__mails > li, &__phones > li, &__socials > li{
        font-family: vars.$mainFontRegular;
        font-size: vars.$pSize;
    }
    &__mails {
        & > li {
            margin-bottom: 0.5rem;
            color:vars.$darkColor;
            text-decoration: underline;
            &::before{
                margin-right: 1.5rem;
                vertical-align: middle;
                content: url(/src/graphics/png/contact-before-mail-icon.png);
            }
        }
    }
    &__phones {
        & > li {
            margin-bottom: 0.5rem;
            color:vars.$darkColor;
            text-decoration: underline;
            &::before{
                margin-right: 1.5rem;
                vertical-align: middle;
                content: url(/src/graphics/png/contact-before-tel-icon.png);
            }
        }
    }
    &__socials {
        & > li{
            display: inline-block;
            margin-top: 1rem;
            margin-right: 1.5rem;
        }
    }

    &__link{
    color: vars.$darkColor;
        &--arm{
            &::after{
                margin-left: 1rem;
                vertical-align: middle;
                content: url(/src/graphics/png/contact-after-tel-arm-icon.png);
            }
        }
        &--rus{
            &::after{
                right: 0;
                margin-left: 1rem;
                vertical-align: middle;
                content: url(/src/graphics/png/contact-after-tel-rus-icon.png);
            }
        }
        &--map{
            font-family: vars.$mainFontMedium;
            &::before{
                content: url(/src/graphics/png/footer-map-icon.png);                    object-fit: contain;
                margin-right: 1rem;
                vertical-align: middle;
            }
        }
    }


}
// Form
.form {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border: 1px solid vars.$borderColor;
    border-radius: 2rem;
    box-shadow: 0 8px 30px #05080d11 ;

    &__title {
        color: vars.$darkColor;
        font-size: vars.$smallFontSize;
        font-family: vars.$mainFontBold;
        margin: 1rem 0;
    }
    &__text {
        font-size: 1rem;
        font-family: vars.$mainFontMedium;
        color: vars.$greyColor;
        text-align: center;
        padding-top: 1rem;
    }
    &__radio {
        margin-bottom: 1rem;
    }



    & > input, & > select, & > textarea {
        font-family: vars.$mainFontSemibold;
        &::placeholder{
            font-family: vars.$mainFontRegular;
        }
    }
    & > input {
        padding: 1rem 1.6rem;
        border: 1px solid vars.$borderColor;
        border-radius: 1rem;
        &:focus{
            outline-color: vars.$secondaryColor;
        }
        &:not(:placeholder-shown) {
            background-color: vars.$lightColor;
            border-color: vars.$secondaryColor;
        }
    }
    & > label, &__radio > label {
        border-color: vars.$borderColor;
        margin-right: 0.5rem;
        font-size: vars.$smallFontSize;
        font-family: vars.$mainFontRegular;
    }
    & > select {
        padding: 1rem 1.6rem;
        border-radius: 1rem;
        border: 1px solid vars.$borderColor;
        font-family: vars.$mainFontMedium;
    }
    & > button {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 1rem;
        border: 1px solid vars.$primaryColor;
    }

    &__spacer{
        height: 2rem;
    }

    textarea {
        resize: none;
        border-radius: 1rem;
        border: 1px solid vars.$borderColor;
        padding: 1rem;
        font-family: vars.$mainFontMedium;
        &:focus{
            outline-color: vars.$secondaryColor;
        }
        &:not(:placeholder-shown) {
            background-color: vars.$lightColor;
            border-color: vars.$secondaryColor;
        }
    }
}
// Header 
.header{
    position: relative;
    @extend .wrapper;
    display: flex;
    justify-content: space-between;
    // outline: 1px solid bisque;
    height: 12rem;
    &__logo{
        flex-grow: 1;
        & > img {
            max-height: 100%;
        }
    }   
    &__nav-list{
        height: 100%;
        display: flex;
        align-content: center;
        &-services{
            display: none;
            position: absolute;
            right: 0;
            transform: translateY(5%);
            padding: 1rem 1.5rem;
            
            background-color: #ffffff7e;
            backdrop-filter: blur(8px);
            border-radius: 1rem;
            border: 1px solid vars.$borderColor;
            & > li{
                padding: 0.3rem 0;
                text-align: right;
                width: 300px;
                & > a{
                    transition: 0.33s;
                    padding: 0.3rem 0;
                    color: vars.$darkColor;
                    font-family: vars.$mainFontMedium;
                    white-space: nowrap;
                    &:hover{
                        color: vars.$primaryColor;
                        font-family: vars.$mainFontSemibold;
                    }
                }

            }
        }
    }
    &__nav-item{
        margin: auto 0.5rem;
        position: relative;
        &-services{
            &:hover{
                & > .header__nav-list-services{
                    display: block;
                }
            }
        }
    }
    &__nav-link{
        padding: 1.8rem 0.5rem;
        font-family:vars.$mainFontSemibold;
        color: vars.$darkColor;
    }
    &__lang{
        background: none;
        border: none;
        margin: auto 0 auto 3rem;
        // outline: 1px solid red;
        & > img{
            padding: 2rem 1rem;
            padding-left: 2rem;
        }
        &:hover{
            & > .header__lang-switcher{
                display: flex;
            }
        }
    }
    &__lang-switcher{
        position: absolute;
        display: none;
        right: 0;
        bottom: -60%;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border: 1px solid vars.$borderColor;
        padding: 0.5rem;
        border-radius: 1rem;
        &-item{
            margin: 0.1rem 0;
            transition: 0.13s;
            display: flex;
            align-items: center;
            padding: 1rem;
            background-color: vars.$lightColor;
            border: none;
            border-radius: 1rem;
            & > img {
                margin-right: 1rem;
                filter: drop-shadow(0 0 4px #36363671);
            }
            & > p{
                font-size: vars.$smallFontSize;
                font-family: vars.$mainFontSemibold;
            }
            &--selected{
                color: vars.$primaryColor;
            }
        }
    }
}
// Footer
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 40rem;
    background-color: vars.$darkColor;
    &__grid{
        max-width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.2fr;
        column-gap: 3rem;
    }
    &__logo{
        margin: auto 2rem 5rem 0;
        &-caption{
            margin-bottom: 1rem;
            font-size: vars.$smallFontSize;
            color: vars.$lightGreyColor;
        }
    }
    &__title{
        font-style: normal;
        font-family: vars.$mainFontSemibold;
        font-size: vars.$h5Size;
        margin-bottom: 1rem;
    }
    &__brand{
        max-width: 50rem;
        align-content: end;
    }

    &__list{
        &-item{
            &::before{
                content: "•";
                font-size: 2.3rem;
                color:vars.$primaryColor;
                vertical-align: middle;
                margin-right: 0.5rem;
            }
            &--address{
                &::before{
                    content: url(/src/graphics/png/footer-map-icon.png);                    object-fit: contain;
                }
            }
            &--mail{
                &::before{
                    content: url(/src/graphics/png/footer-mail-icon.png);
                }
            }
            &--phone{
                &::before{
                    content: url(/src/graphics/png/footer-tel-icon.png);
                }
            }
        }
        &-link{
            font-size: vars.$smallFontSize;
            vertical-align: middle;
            color: #fff;
        }
        &--contacts{
            & > li{
                &:nth-child(2n){
                    margin-bottom: 1rem;
                }
            }
        }
    }

    &__divider{
        background-color: vars.$greyColor;
        height: 1px;
        width: 1280px;
        margin: 2rem auto;
    }

    &__afterline{
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }
    &__copyright{
        font-family:vars.$mainFontMedium;
        color: #fff;
    }
    &__policy{
        position: absolute;
        right: 0;
        top: 0;
        text-decoration: underline;
        color:#fff;
        font-family:vars.$mainFontMedium;
    }
    &__messengers{
        display: flex;
        gap: 1rem;
    }
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-block: 20rem;

    &__title, &__subtitle {text-align: center}
    &__subtitle{
        line-height: 1.3;
        color: vars.$greyColor;
    }
    &--service{
        // overflow: hidden;
        // position: relative;
        padding-block: 5rem;
        display: flex;
        flex-direction: row;
        & > .hero {
            &__details{
                max-width: 48%;
                display: flex;
                flex-direction: column;

                gap: 5rem;
                text-align: left;

                & > h2, & > p {
                    text-align: left;
                }
                
                & > .hero__subtitle {
                    font-family: vars.$mainFontMedium;
                    color: #000;
                }
            }
        }
    }
}

// RESIDENCE PERMIT PAGE //

.hero__title--residence{
    font-family: vars.$mainFontSemibold;
}

.method-title{
    padding: 2rem;
    background-color: vars.$lightColor;
    border-radius: 1.5rem;
    border: 1px solid vars.$borderColor;
    text-align: center;
}
.method-spacing{
    padding-block: 3rem;
}

.business-method{
    @extend .method-spacing;
    &__title{
        @extend .method-title;
    }
    &__benefits{
        padding-block: 3rem;
        display: flex;
        justify-content: center;
        &-header{
            font-family: vars.$mainFontSemibold;
            text-align: end;
            margin-bottom: 2rem;
        }
    }
    &__details{
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > h5 {
            margin-bottom: 2.6rem;
        }
        & > p {
            margin-bottom: 2.5rem;
        }

    }
    &__price{ 
        font-family: vars.$mainFontBold;
    }
}
.work-method{
    &__title{
        @extend .method-title;
    }
    &__benefits{
        @extend .business-method__benefits;
        justify-content: end;
    }
    &__details{
        display: flex;
        justify-content: end;
    }
    &__spacer{
        margin: 3rem;
        width: 50%;
        & > p {
            margin-bottom: 2rem;
        }
        &--right{
            max-width: 560px;
            margin-right: 0;
        }
        & > h5 {
            text-align: end;
        }
    }
    &__price{ 
        font-family: vars.$mainFontBold;
    }
}

.accordion-container{
    padding-block: 5rem;
}
.ac{
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 2rem;
    border-color: vars.$borderColor;
    &-divider{
        height: 1px;
        background-color: vars.$borderColor;
        margin: 1rem 0;
    }
    &-trigger:active{
        color: vars.$primaryColor;
    }
}
.ac.is-active > .ac-header .ac-trigger {
    color: vars.$primaryColor;           
}

.faq{
    padding-block: 7rem    ;
    &-header{
    font-family: vars.$mainFontRegular;
    font-size: 2rem;}
    &__title{
        font-family: vars.$mainFontSemibold ;
    }
}


// LOGISTICS & CUSTOMS
.workstyle{
    padding-block: 4rem;
    &__approaches{
        display: flex;
        justify-content: space-around;
        align-items: end;
    }
}